DB_HOST=mongodb://root:example@mongodb:27017
DB_NAME=mongodb
DB_COLLECTION=module

PORT=8081

MODULE_MS_GRPC_HOST=host.docker.internal:9091
SCHOOL_MS_GRPC_HOST=host.docker.internal:9092
CLASS_MS_GRPC_HOST=host.docker.internal:9093
RESULT_MS_GRPC_HOST=host.docker.internal:9094
EXERCISE_MS_GRPC_HOST=host.docker.internal:9095

KEYCLOAK_DB_NAME=kc
MARIADB_ROOT_PASSWORD=secret
KEYCLOAK_DB_PASSWORD=secret
KEYCLOAK_DB_USER=sa
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin

DB_HOST_TEST=mongodb://root:example@mongodb_test:27017
DB_NAME_TEST=mongodb
DB_COLLECTION_TEST=module

KEYCLOAK_REALM=cloud-project
KEYCLOAK_CLIENT_ID=module-client
KEYCLOAK_CLIENT_SECRET=hSlyDNhPpEvlATxsv7YuHvCJOPQDXg4Z
KEYCLOAK_HOST=http://localhost:8080/